@layer components, utilities;

/* override existing styles, which are defined outside layers */

:root {
  --content-max-width: 960px;
}

.content {
  padding: 0 2em 50px 2em;
}

@layer components {
  .inline-equation {
    display: inline-block;
    width: fit-content;
  }
  .block-equation {
    display: grid;
    place-items: center;
    overflow-x: auto;
  }
  .site-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
  }
}

@layer utilities {
  .underline {
    text-decoration: underline;
  }
}
