@layer theme, components, utilities;

/* override existing styles, which are defined outside layers */

/* Patch starlight theme */
@layer theme {
  /* Reduce heading size */
  @media (min-width: 50em) {
    :root {
      --sl-text-h1: var(--sl-text-4xl);
      --sl-text-h2: var(--sl-text-3xl);
      --sl-text-h3: var(--sl-text-2xl);
      --sl-text-h4: var(--sl-text-1xl);
    }
  }

  /* Fix excessive spacing between content-panel siblings */
  .content-panel + .content-panel {
    margin-top: calc(-1 * var(--sl-content-pad-y, 1rem));
  }
  .content-panel:not(:first-child) {
    padding-top: 0;
  }

  /* General fix for consecutive headings with excessive spacing */
  .sl-heading-wrapper + .sl-heading-wrapper {
    margin-top: -1.5rem;
  }
}

@layer components {
  .inline-equation {
    display: inline-block;
    width: fit-content;
  }
  .block-equation {
    display: grid;
    place-items: center;
    overflow-x: auto;
  }
  .site-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
  }
  .code-image {
    margin: 0.5rem 0;
  }
}

@layer utilities {
  .underline {
    text-decoration: underline;
  }
}
