@layer theme, components;

@layer theme {
  :root {
    --hypraw-fg-color: light-dark(#1f8f50, #ffb3c1);
    --hypraw-bg-color: light-dark(#f2d63a1f, #a87ec61f);
    --hypraw-border-color: light-dark(hsl(224, 13%, 83%), hsl(224, 14%, 25%));
    --hypraw-border-radius: 0.5em;
    --hypraw-padding: 0.5em;
    --hypraw-inline-padding: 0.125rem 0.375rem;
    --hypraw-inline-border-radius: 0.375rem;
    --hypraw-font-size: 0.875rem;
  }
}

@layer components {
  .hypraw {
    position: relative;
  }

  .hypraw pre {
    margin: 0;
  }

  .hypraw pre > code {
    display: block;
    overflow: auto;
    padding: var(--hypraw-padding);
    border: 1px solid var(--hypraw-border-color);
    border-radius: var(--hypraw-border-radius);
    color: var(--hypraw-fg-color);
    background: var(--hypraw-bg-color);
    font-size: var(--hypraw-font-size);
  }

  /* Inline code */
  code.hypraw {
    padding: var(--hypraw-inline-padding);
    border-radius: var(--hypraw-inline-border-radius);
    color: var(--hypraw-fg-color);
    background: var(--hypraw-bg-color);
    font-size: var(--hypraw-font-size);
  }
}
